<ion-view view-title="Conversations">

  <ion-nav-buttons side="right">
    <a class="button button-clear button-positive" href="#/tab/chats/new">
      <i class="icon ion-plus-round"></i>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in vm.chats" type="item-text-wrap" href="#/tab/chats/{{chat.$id}}">
        <!--<img ng-src="{{chat.face}}">-->
        <h2>{{chat.name}} <span class="small" ng-show="!chat.private">(Public)</span></h2>
        <p>{{chat.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="vm.remove(chat.$id)">
          Supprimer
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
