<ion-view id="chat-new" view-title="Nouvelle conversation">

  <ion-nav-buttons side="right">
    <a class="button button-clear" ui-sref="tab.chats">
      Annuler
    </a>
  </ion-nav-buttons>

  <ion-content class="has-header has-footer padding">

    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Nom" ng-model="vm.newChat.name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Description" ng-model="vm.newChat.description">
      </label>
      <label class="item item-toggle">
        Privée
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="vm.newChat.isPrivate">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </label>
    </div>

    <div class="list list-inset" ng-show="vm.newChat.isPrivate">
      <checkbox-list elements="vm.contacts" key-selector="vm.idSelector(e)" value-selector="vm.usernameSelector(e)" selected="vm.newChat.contactIds"></checkbox-list>
    </div>

    <button class="button button-block button-stable" ng-click="vm.createNewChat()" ng-disabled="!vm.newChat.name.length || !vm.newChat.description.length">
      Créer
    </button>
  </ion-content>
      
</ion-view>