<ion-view id="chat-detail" view-title="{{vm.chat.name}}">

  <ion-nav-title>
    {{vm.chat.name}}
  </ion-nav-title>

  <ion-content has-bouncing="true" class="has-header has-footer">

    <div class="no-message text-center" ng-show="vm.messages.$resolved && !vm.messages.length">
      Aucun message
    </div>

    <div ng-repeat="message in vm.messages track by message.$id | orderBy:'date'" class="message-wrapper">

      <div ng-if="vm.user.id !== message.senderId">
        <div class="chat-bubble left">
          <div class="message" ng-bind-html="message.text"></div>
          <div class="message-detail">
            <span class="bold">{{message.sender}}</span>,
            <span>{{ vm.formatDate(message.date) }}</span>
          </div>
        </div>
      </div>
      
      <div ng-if="vm.user.id === message.senderId">
        <div class="chat-bubble right">
          <div class="message" ng-bind-html="message.text"></div>
          <div class="message-detail">
            <span class="bold">Vous</span>,
            <span>{{ vm.formatDate(message.date) }}</span>
          </div>
        </div>
      </div>

      <div class="cf"></div>
      
    </div>
  </ion-content>
      
  <form ng-submit="vm.sendMessage()" novalidate>

    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
      <label class="item-input-wrapper">
        <input type="text" ng-model="vm.newMessage.text" value="" placeholder="Send a new message..." required minlength="1" maxlength="1500" msd-elastic></input>
      </label>
      <div class="footer-btn-wrap">
        <button class="button button-icon icon ion-ios-paperplane-outline footer-btn" type="submit" ng-disabled="!vm.newMessage.text || vm.newMessage.text === ''"></button>
      </div>
    </ion-footer-bar>

  </form>
  
</ion-view>