<ion-view view-title="Contacts">
  <ion-content>
    <ion-list>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Rechercher" ng-model="vm.search">
      </label>

      <ion-item ng-repeat="contact in vm.contacts | filter:vm.search" type="item-text-wrap" ng-if="vm.user.id !== contact.$id">
        <a href="#/tab/chats/new?contactId={{contact.$id}}">
          <h2>{{contact.firstName}} {{contact.lastName}}</h2>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
